.modal {
  position: absolute;

  padding: 40px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--delay-time) var(--time-function);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  &__title {
    margin-bottom: 12px;
    @include font(700, 20px, 1.15, 0.03em);
    text-align: center;
    color: var(--color-title);
  }
}

@media screen and (max-width: 479px) {
  .modal {
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.is-hidden {
  transform: scale(0);
}
