:root {
  --background-section: #f5f4fa;
  --background-footer: #2f303a;
  --color-title: #212121;
  --main-color-text: #757575;
  --white-text: #ffffff;
  --accent-color: #2196f3;
  --button-hover: #188ce8;
  --svg-links: #afb1b8;
  --delay-time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
