// mobile, tablet
@media screen and (max-width: 1199px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--white-text);
  }
}
// mobile
@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--white-text);
  }
}
