.team {
  width: 100%;
  background: var(--background-section);
}
// mobile
@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
// tablet
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
// desktop
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
